@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar settings */


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    @apply bg-blue-faded rounded-xl;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-secondary;
}


/* text */

p {
    @apply text-base font-normal;
}

h2 {
    @apply text-3xl font-extrabold;
}
h3 {
    @apply text-xl font-extrabold;
}

hr {
    border-top: 1px solid #C0C0C0;
}

/* button */

.button {
    @apply flex w-fit items-center justify-center gap-2 px-4 py-2 text-lg font-semibold text-white rounded-full bg-blue-secondary;
}

.button:disabled {
    @apply bg-gray;
}

.button svg {
    @apply h-4 w-4;
}

.icon-button {
    @apply text-black bg-transparent stroke-2;
}

.icon-button>svg {
    @apply text-black bg-transparent stroke-black h-7 w-7;
}

.layout {
    @apply flex bg-mainbackground w-screen h-screen;
}

.content {
    @apply flex flex-col px-10 overflow-y-auto gap-7 py-7;
    width: calc(100vw - 15.625rem);
}

.admin-menu {
    @apply w-[15.625rem] h-screen bg-blue-faded flex flex-col items-center gap-24;
}

.logo-container {
    @apply flex items-center justify-center w-full h-28;
}

.picture-menu {
    @apply flex absolute justify-center bottom-5 left-7 h-40 w-40;
}



/* navigation */

.admin-nav {
    @apply flex flex-col w-[90%] gap-5;
}

.nav-link {
    @apply h-12 pl-4 rounded-[20px] flex items-center font-semibold gap-2 text-lg;
}

.active {
    @apply text-white bg-blue-secondary opacity-100;
}


/* header */

.header {
    @apply flex flex-row-reverse w-full;
}

.profile-container {
    @apply flex gap-4;
}

.profile-info {
    @apply flex flex-col items-end justify-center font-semibold;
}

.profile-info>p {
    @apply text-lg font-bold;
}

.profile-info>a {
    @apply underline text-blue-secondary;
}

.row-between {
    @apply flex items-center justify-between;
}
.row-left {
    @apply flex;
}

/* input */
label {
    @apply font-semibold text-sm;
}

.input {
    @apply w-full px-4 py-3 border-2 rounded-lg outline-none border-gray text-base font-semibold;
}

.input:focus {
    @apply border-blue-secondary;
}
/* table */

table {
    @apply border-2 border-collapse border-none rounded-md border-blue-faded;
    box-shadow: 0 0 0 1px #3d29730d;
    /* this draws the table border   */
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

th,
td {
    @apply p-6 text-lg font-semibold text-left;
}

th {
    @apply font-bold opacity-50;
}

tr {
    @apply w-full border-b-2 cursor-pointer border-blue-faded;
}

thead>tr {
    @apply cursor-default;
}


/* modal */

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
    @apply flex justify-center items-center bg-gray-background !important;
}

.modal {
    @apply w-[465px] px-16 py-10 bg-white rounded-md;
}

.modal form {
    @apply flex flex-col gap-5;
}

.modal .line {
    @apply h-[1px] bg-black my-7 opacity-10 rounded-md;
}

.modal>form>button {
    @apply mt-5 w-full bg-blue-secondary;
}

.row-center {
    @apply flex flex-row items-center justify-center gap-3;
}

.delete-button {
    @apply bg-red;
}

.upload-button {
    @apply bg-blue-accent;
}
.green-button {
    @apply bg-green;
}
.section-container {
    @apply text-lg flex flex-col gap-5 w-[750px] m-[1px];
}

.section-title {
    @apply font-semibold text-lg;
}

.section-container .fields {
    @apply bg-white rounded-md p-6;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.05);
    display: grid;
    column-gap: 200px;
    row-gap: 20px;
    grid-template-columns: max-content max-content;
    width: 700px;
}

.field-key {
    @apply text-blue-secondary;
}

/* approve rows*/

.approve-row {
    @apply text-lg flex flex-row gap-5 h-[60px] w-[750px] m-[1px];
    width: 900px;
}
.approve-row-left {
    @apply text-lg flex flex-row items-center justify-start pl-4;
    width: 200px;
}
.approve-row-center {
    @apply text-lg flex flex-row items-center justify-center;
    width: 500px;
}
.approve-row-right {
    @apply text-lg flex flex-row items-center justify-center;
    width: 100px;
}

/* profile */
.main {
    @apply flex flex-row justify-center gap-px;
  }
.leftCol {
    flex: 0 0 50%;
    /* background-color: lightgreen; */
    border-right: 1px solid gray;
    
}
.rightCol {
    flex: 0 0 50%;
    /* background-color: lightgray; */
}

.icon-picture {
    @apply flex relative justify-center ;
}

.education {
    @apply flex bg-white border-solid border-2 rounded-md;
    width: 500px;
    flex-wrap: wrap;
}

.education .fields {
    @apply flex pl-6 py-2;
    width: 250px;
}

.cv {
    @apply flex bg-white border-solid border-2 rounded-md;
    width: 500px;
}

.cv .fields {
    @apply flex pl-6 py-2;
    width: 250px;
}
/* activity layout */
.activities {
    @apply flex flex-wrap gap-10 m-[1px];
  }
  
/* activity card */

.activity-card {
	@apply p-6 bg-white rounded-3xl flex flex-col gap-8 min-w-[400px] max-w-[400px];
	box-shadow: 0px 0px 2px #16324F;
  }
  
.activity-group {
@apply flex flex-col gap-1;
}

.card-heading {
@apply flex items-center;
}

.card-heading > p:first-of-type {
@apply font-semibold text-base;
}

.card-heading > p {
@apply font-semibold text-sm;
}
.card-content {
@apply flex items-center;
}

.card-content > p:first-of-type {
@apply text-base;
}

.card-content > p {
@apply  text-sm;
}

.title {
@apply flex text-[25px] font-semibold;
}

.keywords {
@apply font-semibold text-sm opacity-50;
}
.register-picture {
    @apply flex flex-row items-center justify-center;
}